.gradle/
.idea/
!.idea/codeStyles/codeStyleConfig.xml
build/
out/
*.iml

src/test/resources/test.properties

# Files created by github actions before workflow job run
# Task `gradle release` requires that git reposoitary to be clean
settings.xml
toolchains.xml
